#page, div.rapidxwpr, #map {
  width:100%;
  border:none;
	background:#fff;
}

div#header {
  position: relative;
  margin: 0 0 0 51px;
  pointer-events:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
  background:none !important;
  z-index:2;
}

div#logo {
  border: 0;
  background: none;
  padding: 0;
  float: left;
  margin: 14px 0 0 0;
}

#middle {
  position:relative;
  background:transparent !important;
}

#panel-wrapper{
  position:absolute;
  top:0;
  right:0;
  z-index:1;
  background:#ffffff;
}

#panel-wrapper, #panel-wrapper .panel{
  -webkit-transition: width 0.2s ease-out;
     -moz-transition: width 0.2s ease-out;
      -ms-transition: width 0.2s ease-out;
       -o-transition: width 0.2s ease-out;
          transition: width 0.2s ease-out;
}

#panel-wrapper.open, .panel, .panel iframe {
  position:absolute;
  width:400px;
  border:none;
}

#panel-wrapper.closed, #panel-wrapper.closed .panel {
  width:0;
}

#panel-wrapper.closed .panel {
  overflow:hidden;
}

#panel-tabs {
  list-style: none;
  margin: 0;
  display: block;
  width: 400px;
  text-transform: uppercase;

  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform:rotate(90deg);
     -moz-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
       -o-transform:rotate(90deg);
}

#panel-tabs li {
  display: inline-block;
  background: #eee;
  margin: 0;
	font-size:18px;
  -webkit-transform:rotate(180deg);
     -moz-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
       -o-transform:rotate(180deg);
}

#panel-tabs li.active {
  background: #fff;
}

#panel-tabs li a {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.panel {
  position: relative;
}

div.submit-incident, div#searchbox {
  position:static;
}

div#searchbox {
  position: absolute;
  left: 0;
  z-index: 1001;
}

#map, #reportMap, .big-map {
  float:left;
  position: absolute;
  top: 0;
  z-index:0;
	border:none;
}

#reportMap {
  display: none;
}

#mapStatus, #mapControls {
  position:absolute;
}

#mapStatus, #mapControls {
  right:0;
  bottom:0;

  -webkit-transition: right 0.2s ease-out;
     -moz-transition: right 0.2s ease-out;
      -ms-transition: right 0.2s ease-out;
       -o-transition: right 0.2s ease-out;
          transition: right 0.2s ease-out;
}

#mapStatus.panel-open, #mapControls.panel-open {
  right:400px;
}

#mapControls {
	bottom:20px;
	margin-right:10px;
}

#panel-tabs li.panel-info a {
  display: none;
}

#info-close {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 25px;
  top: 10px;
  z-index: 1000;
}


/* category filters */
div.cat-filters{
		font-size: 85%;
		text-transform: uppercase;
		margin: 0 0 0px 0;
		padding: 5px;
    background: rgba(255,255,255,0.7);
		width: 175px;
}

div.cat-filters strong{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/cat-filters-bg.jpg) 0 3px no-repeat;
    padding: 0 0 0 10px;
}

div.cat-filters span{
    font-weight:normal;
    font-size:90%;
    margin-left:5px;
    color:#666;
    letter-spacing:2px;
}
div.cat-filters span a{
    color:#666;
}

ul.category-filters{
		background: #fff;
		border-top: none;
		border-bottom: none;
		list-style: none;
		padding: 12px 15px;
}

ul.category-filters li{
    padding: 0;
    margin-bottom: 2px;
    list-style-type:none;
}

ul.category-filters li a{
    display: block;
    padding: 8px 10px 8px 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #3F3F3F;
    border: #E7E3DA 2px solid;
    position: relative;
    line-height: 17px;
    overflow: hidden;
}

ul.category-filters li a:hover, ul.category-filters li a.active {
    color: #FFFFFF;
    background-color: #3484AC;
    border: #3484AC 2px solid;
}

ul.category-filters li.child{
    display:none;
}

div#mapFilters{
  width: 285px;
  padding: 0px;
	position: absolute;
	top: 60px;
	left: 11px;
	z-index: 1;
}

#category_switch {
  display: none;
}

div#mapFilters:hover #category_switch {
  display: block;
}
div#mapFilters:hover div.cat-filters {
  background: #fff;
}